*{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
div{
  display: block;
}
#foreign{
  padding-top: 100px;
}
#alwaysfive{
  padding-top: 100px;
}
#noted{
  padding-top: 140px;
}
#claimed{
  padding-top: 100px;
}
#hero {
background-image: url('img/background@4x.jpg');
opacity: 90%;
margin-top: -30px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh; /* adjust this as needed */
}
@font-face {
    font-family: 'MerchantLight';
    src: url(fonts/MerchantLight.ttf);
    font-family: merchant;
}
    body {
    background-color: white;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #53565B;
    }
    
    h1, h2, h3, h4 {
    line-height: 1.5;
    }
    
    h1 {
    font-family: merchant;
    font-size: 48;
    font-weight: 400;
    color: #F1F0F1;
    }
    h2 {
        font-family: merchant;
        font-size: 17;
        font-weight: 300;
    }
    h3{
        font-family: merchant;
        font-size: 20;
        font-weight: 400;
        color: #FF5EAB;
    }
    img{
        width: 100%;
    }
    a {
    color: #FF5EAB;
    text-decoration: none; /* No underlining */
    }
    a:hover {
    color: black;
    text-decoration: underline; /* Underlining when hovering over a link */
    }
    a:visited { /* visited link */
    color: darkgrey;
    }
    a:active { /* selected link */
    color: lightgreen;
    }
    a:hover,
    a:focus {
     color: black;
    text-decoration: underline;
    }
    .button {
    display: inline-block; 
    background-color: lightgray;
    color: #000000; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid black; /* width of the border, type, color */
    transition-property: 0.2s opacity;
    }
    .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
    }
    .button:active {
    color: lightsalmon;
    }
    .button.contact {
    background-color: transparent;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #000000;
    }
    .button.contact:hover {
    background-color: #000000;
    color: #ffffff;
    }

ol{
    display: inline-block;
}
/* Layout styling*/
.container {
    padding: 0 15px;
}
#about-nav .container {
  padding: 0;
  margin: 0;
}
#me {
  padding-right: 65px;
  padding-top: -30px;
}
#about-nav .row {
  padding: 0;
  margin-top: 0px;
  padding-bottom: 0px; 
  border-bottom: 0px; 
  padding-top: 0px;
  text-align: left;
  margin: 0px 0; /* 25px top and bottom, 0 left and right */
  display: block;
}
#hero .container {
  padding: 0;
  margin: 0;
}
#hero .row{
  padding: 0;
  margin-top: -10px;
  padding-bottom: 0px; 
  border-bottom: 0px;
  padding-top: 0px;
  text-align: left;
  margin: 0px 0; /* 25px top and bottom, 0 left and right */
  display: block;
}
.row { 
    padding-bottom: 25px; 
    padding-top: 15px;
    text-align: left;
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    display: block;
}
#hero h1 {
    text-align: right;
    padding-right: 30px;
}
.intro{
  padding-top: 600px;
}
.logo h1{
    text-align: center;
    max-width: 150px;
    min-width: 641px
}
nav {
  position: fixed;
  background: rgb(200, 54, 54); /* The Fallback */
  background: rgba(200, 54, 54, 0.5);
  z-index: 1000;
  width: 100%;
  padding: 20px;
  top: 0;
}
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #FF5EAB;
    display: inline-block;
    width: 100%;
  }
  .pic img {
    width: 60%;
    height: auto; /* preserve aspect ratio */
    float: right;
    margin-right: 40px;
    padding-top: 40px;
 }
.about-me {
  margin-top: 100px;
}
.image-container {
  margin-right: 50px;
}
footer {
 text-align: center;
 }
 #about{
  display: inline-block;
 }
 #project-1{
  background: url(img/background@4x.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 .highlight{
  color: #FF5EAB;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col-sm-12 {
  width: 100%;
}
.grid-container {
  grid-template-columns: auto;
}
nav ul li a {
	padding: 2px 0 0 0;
	position: relative;
	display: block;
	font-size: 12px;
	color: #353535;
	letter-spacing: 0.1em;
	font-weight: 500;
	line-height: 14px;
	text-transform: uppercase;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
	position: fixed;
	background: rgb(255, 255, 255);
	z-index: 1000;
	width: 100%;
	padding: 20px;
	display: none;
	-webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
	float: right;
	line-height: 32px;
	margin-bottom: 0;
  margin-top: -23px;
}

nav ul li {
	float: left;
	margin-right: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	margin-left: 40px;
}

nav ul li {
	padding: 0px 0 0 0;
  margin-top: 0;
	position: relative;
	display: block;
	font-size: 14px;
	color: #353535;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}

#hero .logo {
	float: left;
  max-width: 150px;
  min-width: 641px
}
.responsive {
	display: none;
	font-size: 23px;
}

.active {
	color: #afafaf !important;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
.col-md-6 {
		width: 50%;
	}

.col-md-3 {
		width: calc(100%/3);
	}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
.col-lg-3 {
		width: calc(100%/4); /* same as 50% */
	}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
