*{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
#hero {
background-image: url('img/background@4x.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh; /* adjust this as needed */
}
@font-face {
    font-family: 'MerchantLight';
    src: url(fonts/MerchantLight.ttf);
    font-family: merchant;
}
    body {
    background-color: white;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #53565B;
    }
    
    h1, h2, h3, h4 {
    line-height: 1.5;
    }
    
    h1 {
    font-family: merchant;
    font-size: 48;
    font-weight: 400;
    color: #F1F0F1;
    }
    h2 {
        font-family: merchant;
        font-size: 17;
        font-weight: 300;
    }
    h3{
        font-family: merchant;
        font-size: 20;
        font-weight: 400;
        color: #FF5EAB;
    }
    img{
        width: 100%;
    }
    a {
    color: darkgrey;
    text-decoration: none; /* No underlining */
    }
    a:hover {
    color: black;
    text-decoration: underline; /* Underlining when hovering over a link */
    }
    a:visited { /* visited link */
    color: darkgrey;
    }
    a:active { /* selected link */
    color: lightgreen;
    }
    a:hover,
    a:focus {
     color: black;
    text-decoration: underline;
    }
    .button {
    display: inline-block; 
    background-color: lightgray;
    color: #000000; /* needed to override the default link color */
    font-weight: 400;
    padding: 15px;
    border-radius: 5px;
    border-bottom: 2px solid black; /* width of the border, type, color */
    transition: 0.2s opacity;
    }
    .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
    }
    .button:active {
    color: lightsalmon;
    }
    .button.contact {
    background-color: transparent;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #000000;
    }
    .button.contact:hover {
    background-color: #000000;
    color: #ffffff;
    }
    header {
    padding: 15px;
    margin: 15px;
    border-bottom: 3px solid #4a4a4a;
    text-align: center;
}
ol{
    display: inline-block;
}
/* Layout styling*/
.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#hero h1 {
    text-align: right;
}
.logo h1{
    text-align: center;
}
nav > ul {
    list-style-type: none;
    padding: 0;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #FF5EAB;
    display: inline-block;
    width: 100%;
  }
  .pic img {
    width: 25%; /* 50% of the container width */
    height: auto; /* preserve aspect ratio */
    float: right;
    margin-left: 20px;
 }
footer {
 text-align: center;
 padding: 30px;
 bottom: 0px;
width: 100%;
bottom: 0;
}
#foot {
    position: absolute;
    bottom: -80em;
    width: 100%;
    height: 300px; /* Adjust as needed */
    background-color: #f5f5f5;
 }
